<section class="my-5 section-busca">
    <div class="container">
        <h1 class="w-25 titulo fw-bolder">REABERTURA SMART FIT</h1>
        <p class="my-5">O horário de funcionamento das nossas unidades está seguindo os decretos de cada município. Por
            isso, confira aqui se a sua unidade está aberta e as medidas de segurança que estamos seguindo.</p>
        <div class="form-buscar">
            <div class="p-3">
                <form action="">
                    <div class="row">
                        <div class="col-lg-12 mb-3">
                            <div class=" border-gray">

                                <span><i class="bi bi-clock"></i> Horário</span>
                                <h2 class="mt-4">Qual período quer treinar?</h2>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-check mb-3 border-gray align-items-center d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
                                    <label class="form-check-label" for="radioDefault1">
                                        Manhã
                                    </label>
                                </div>
                                <div>
                                    <p>06:00 às 12:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-check mb-3 border-gray align-items-center d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
                                    <label class="form-check-label" for="radioDefault1">
                                        Tarde
                                    </label>
                                </div>
                                <div>
                                    <p>12:01 às 18:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-check mb-3 border-gray align-items-center d-flex justify-content-between">
                                <div>
                                    <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
                                    <label class="form-check-label" for="radioDefault1">
                                        Noite
                                    </label>
                                </div>
                                <div>
                                    <p>18:01 às 23:00</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 my-3">
                            <div class="form-check align-items-center d-flex justify-content-between">
                                <div>
                                     <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    Exibir unidades fechadas
                                </label>
                                </div>
                                <div>
                                    <p>Resultados encontrados: <span class="fw-bolder">112</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center align-items-center flex-wrap gap-5">
                            <button class="button-form btn-amarelo">ENCONTRAR UNIDADE</button>
                            <button class="button-form btn-branco">LIMPAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>